@charset "UTF-8";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button{margin:0px;padding:0px;border:0px none;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;line-height:1.5;vertical-align:baseline;box-sizing:border-box;outline:none;font-size:12px;text-align:justify;text-justify: inter-word;}

/* text */
body {color:#444;margin:10px;}
p {text-indent:50px;margin-top:10px;margin-bottom:10px;}
/* titles */
h1 {font-size:25px;font-weight:bold;}
h2 {font-size:20px;font-weight:bold;display:inline;}
h3 {font-size:15px;font-weight:bold;display:inline;}
h4 {font-size:12px;font-weight:bold;display:inline;}

/* biblio */
.biblio ul{text-indent:-22px;line-height:1}
.biblio li{line-height:1;margin:2px 2px 10px 2px;list-style:none}
.biblio i{line-height:1;font-weight:bold;}

/* career */
.career div.row div{margin-bottom:10px;}
.career div.row a{line-height:1;}

/* new section row */
.newsection{margin-top:4em;margin-bottom:10px;}
.newsection a{font-size:15px;opacity:0.8;float:right;padding:4px 4px;margin:0px 2px;}
.newsection a:hover,.newsection a:active{text-decoration:none;opacity:1;text-shadow:-1px -1px 1px rgba(50,50,50,0.8);}

/* flex align */
.flex-vertical {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
}
.flex-align {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

/* link */
a.arxiv, a.doi, a.preprint, a.draft, a.keynote, a.abstract, a.openaccess, a.tel{color:#D00;line-height:1;font-style:italic;}
a.arxiv:hover, a.doi:hover, a.preprint:hover, a.draft:hover, a.keynote:hover, a.abstract:hover, a.openaccess:hover, a.tel:hover{color:#F00;}
a.doi:before{content:'[doi: ';}
a.doi:after{content:']';}
a.arxiv:before{content:'[arxiv: ';}
a.arxiv:after{content:']';}
a.tel:before{content:'<tel-';}
a.tel:after{content:'>';}
a.preprint:before{content:'[preprint]';}
a.openaccess:before{content:'[open access]';}
a.draft:before{content:'[full text]';}
a.keynote:before{content:'[keynote]';}
a.abstract:before{content:'[abstract]';}
a.exlink,a.download{
    padding:4px 1em 2px 1em;
    text-indent:0px;
    font-weight:normal;
    border-radius:4px;
    border-style:solid;
    border-width:1px;
    line-height:2;
}
a.exlink:hover,a.download:hover{
    text-decoration:none;
    background-color:rgba(153,188,219,0.85);
    -moz-text-decoration-color:-moz-use-text-color;
    -moz-text-decoration-line:none;
    -moz-text-decoration-style:solid;
    box-shadow:0px 2px 2px 0px rgba(0,0,0,0.25);
}
a.exlink:after{content:'\f08e';font-family:FontAwesome;margin:0 0 0 10px;display:inline-block;}
a.download:before{content:'\f019';font-family:FontAwesome;margin:0 10px 0 0;display:inline-block;}

/* hover */
.click{cursor:pointer;}
.click:hover{box-shadow:1px 3px 3px 1px rgba(0,0,0,0.5);}
.bghover:hover{background-color:#ddd;text-decoration:none;-moz-text-decoration-color:-moz-use-text-color;-moz-text-decoration-line:none;-moz-text-decoration-style:solid;border-radius:4px;}

/* images */
img.thumb{width:90px;height:90px;}
img.avatar{height:130px;}

/* roundboxes */
.roundbox4px{
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    box-shadow:1px 1px 2px 1px rgba(0,0,0,0.25);
}
.roundbox10px{
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    box-shadow:2px 2px 4px 2px rgba(0,0,0,0.25);
}

/* separation */
hr {
    border: 0;
    height: 0;
    margin: 10px;
}

/* map */
div#map{height:500px;}
div.leaflet-control-attribution.leaflet-control{font-size:11px;}
div.leaflet-control-layers-base {  text-align: left; }
div.leaflet-control-layers-overlays {  text-align: left; }
